* {
    box-sizing: border-box;
}


.calculator {
    width: 400px;
    background-color: rgb(255, 199, 87);
    border-radius: 20px;
    padding: 30px;
}

.display-container0 {
    border-radius: 20px;
    display: flex;
    background-color: rgb(225, 225, 225);
    height: 100px;
    /* margin: 10px; */
    padding: 10px;

}

.row-container0 {
    /* background-color: rgb(225, 225, 225);/ */
    height: 60px;
    margin: 20px;
    padding: 5px;
    gap: 30px;
}

.row {
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: space-between;
    flex: 0;
    align-content: stretch;
}



button {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 0cap;
    flex-shrink: 0;
    font-size: large;
    font-weight: 800;
    font-style: bold;
    color: grey;
}

.display {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 24px;
    background-color: #f0f0f0;
    color: black;
    text-align: right;
    text-decoration: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
    color: rgb(131, 131, 131);
}

button:hover {
    background-color: rgb(200, 200, 200);
}

button:active {
    background-color: black;
}